#question1
let say you’re given a dataframe of standardized test scores from high schoolers from grades 9 to 12 called df_grades.
Given the dataset, write code function in Pandas called bucket_test_scores to return the cumulative percentage of students 
that received scores within the buckets of <50, <75, <90, <100.

In [8]:
#solution
import pandas as pd
import numpy  as np
#creating a dataframe
data={
    'math':[56,89,57,87,67],
    'English':[76,67,89,99,57],
    'Science':[67,89,56,78,93]
}
df_grades=pd.DataFrame(data,columns=['math','English','Science'])
# Computing cumulative Percentage
df_grades['cum_math']=(df_grades['math'].cumsum()/df_grades['math'].sum()) *100
df_grades

   math  English  Science    cum_math
0    56       76       67   15.730337
1    89       67       89   40.730337
2    57       89       56   56.741573
3    87       99       78   81.179775
4    67       57       93  100.000000

In [ ]:
You’re given a dataframe df_cheeses containing a list of the price of various cheeses from California. 
The dataframe has missing values in the price column.Write a function cheese_median to impute the median price 
of the selected California cheeses in place of the missing values.
You may assume at least one cheese is not missing its price.

In [22]:
#solution
cheese_median=df_cheeses.fillna(df_cheeses.median())

In [ ]:
You’re given a table that represents search results from searches on Facebook. 
The query column is the search term, the position column represents each position 
the search result came in, and the rating column represents the human rating of the search result from 1 
to 5 where 
5 is high relevance and 1 is low relevance.
Write a query to compute a metric to measure the quality of the search results for each query.

In [ ]:
#solution
SELECT 
  *
    , ROW_NUMBER() OVER(PARTITION BY query ORDER BY rating DESC) desc_rating
FROM search_results

In [ ]:
We’re given three tables representing a forum of users and their comments on posts.
We want to figure out if users are creating multiple accounts to upvote their own comments. 
What kind of metrics could we use to figure this out?

In [ ]:
#solution
Time spent on site
Returning visitors
Pages per visit
User Activity
Traffic
NB more can be added to it